# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Системные директории
node_modules/
venv/

# Файлы окружения
.env
.vscode/

# Логи и временные файлы
logs/
*.log
*.tmp

# Файлы настроек
instance/
.DS_Store
